<!--The content below is only a placeholder and can be replaced.--> 

<div class="ui-g">
  <div class="ui-g-12 ui-g-nopad" >
  <div class="ui-g-12" style="background: #006064; position: fixed; height: 10%;">
  Tope
  </div>
  </div>
  
  <div class="ui-g-12 ui-g-nopad" style="margin-top: 6%;">
  <div class="ui-g-3" style="background: #009688; position: fixed; height: 80%; border-right: groove;">
    <p-panelMenu [model]="items" [style]="{'width':'100%'}"></p-panelMenu>
  </div>
  <div class="ui-g-9" style="float: right;">
  
  <p-card>
    <router-outlet></router-outlet>
  </p-card>
  
  </div>
  </div>
  
  <div class="ui-g-12" style="background: #006064;bottom: 0; position: fixed;">rodape</div>
  </div>